@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CãotinhoAuMiau</title>
    
    <link rel="icon" type="image/png" href="~/imagens/paw-icon.png" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/css/bundle.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <!-- fontes locais -->
    <link href="~/lib/fonts/Baloo2.css" rel="stylesheet" />
    <link href="~/lib/fonts/Poppins.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    
    @RenderSection("Styles", required: false)
</head>
<body data-logged="@(User.Identity.IsAuthenticated.ToString().ToLower())">
    <input type="hidden" id="usuarioId" value="@User.ObterIdUsuario()" />
    
    @await Html.PartialAsync("_Navbar")
    
    @if (User?.Identity?.IsAuthenticated == true)
    {
        @await Html.PartialAsync("_Slidebar")
        @await Html.PartialAsync("_Notificacoes")
    }
    
    @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Usuario" && 
         ViewContext.RouteData.Values["action"]?.ToString() == "Perfil")
    {
        @RenderBody()
    }
    else
    {
    <div class="container body-content">
        @RenderBody()
    </div>
    }
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/imask/imask.min.js"></script>
    
    <script src="~/js/bundle.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
